@model KruisIT.Web.Analytics.Models.Current<string>
	@{
		Layout = null;
	}

	<div class="analytics-website">
		<h3>Site: @Model.Data</h3>

		@Html.Action("Aggregates", new { website = Model.Filter.Website, location = Model.Filter.Location, visitor = Model.Filter.Visitor })

		@Html.Action("Locations", new { website = Model.Filter.Website, location = Model.Filter.Location, visitor = Model.Filter.Visitor })

		@Html.Action("Visitors", new { website = Model.Filter.Website, location = Model.Filter.Location, visitor = Model.Filter.Visitor })

	</div>

