
.analytics-menu { position: fixed; background-color: rgb(221, 221, 221); left: 0; top: 0; bottom: 0; width: 200px; padding: 70px 20px 50px 20px; }
	.analytics-menu h2 { font-size: 24px; }
		.analytics-menu h2 small { display: block; font-size: 14px; margin-top: 10px; }
	.analytics-menu select { margin-top: 10px; }
	.analytics-menu ul { margin-top: 10px; padding-left: 0; list-style: none; }
		.analytics-menu ul label { margin-left: 0.5em; }


.analytics-block { margin-left: 200px; margin-top: 40px; }

table.analytics-data { width: 100%; }

.analytics-aggregates .analytics-count { width: 300px; }
	.analytics-aggregates .analytics-count div { background-color: #cce; border-bottom: 1px solid #fff }

		.analytics-aggregates .analytics-count span { padding-left: 4px; visibility: hidden; }

	.analytics-aggregates .analytics-date { padding-right: 1em; }
		.analytics-aggregates .analytics-date .analytics-date-secondary { visibility: hidden; }

		.analytics-aggregates .analytics-aggregates-y-label { display: none; }

.analytics-aggregates { border: 1px solid #eee; padding: 20px; }
	/*.analytics-aggregates h4 { display: none; }*/

.analytics-aggregates-rotated { height: 430px; }
	.analytics-aggregates-rotated table { margin-top: 150px; margin-bottom: 150px; transform-origin: 0 0; transform: rotate(-90deg) translate(-250px, 0); }
		.analytics-aggregates-rotated table thead { display: none; }
		/*.analytics-aggregates-rotated table tr { line-height: 12px; }*/
		.analytics-aggregates-rotated table td { padding-top: 0; padding-bottom: 0; }
		.analytics-aggregates-rotated table td div { height: 12px; }

	.analytics-aggregates.analytics-aggregates-rotated .analytics-aggregates-y-label { display: block; float: left; font-size: small; margin-left: -32px; }

.analytics-locations li { }

.analytics-website { margin-bottom: 50px; }

#analytics-base-url { display: none; }