
.analytics-menu { background-color: rgb(221, 221, 221); left: 0; top: 0; bottom: 0; padding: 0 5px; overflow: hidden; }
	.analytics-menu > div { display: inline-block; margin-left: -28px; margin-right: 20px; padding: 10px 0; }

	.analytics-menu h3 { display: inline-block; font-size: 16px; font-weight: bold; margin: 0 5px 0 20px; }
		.analytics-menu div h3::before { content: "|"; margin-right: 20px; }
	.analytics-menu select { }
	.analytics-menu ul { display: inline-block; margin-top: 10px; padding-left: 0; list-style: none; }
		.analytics-menu li { display: inline; }
		.analytics-menu ul label { font-weight: normal; margin-left: 0.5em; }

#analytics-filter-website { }

#analytics-filter-location { height: 24px; }
	#analytics-filter-location-value { border: none; padding-left: 6px; }
	#analytics-filter-location .clear { background-color: inherit; border: none; color: #999; font-size: 16px; margin-left: -22px; margin-top: -23px; }

#analytics-filter-dates input { width: 6em; }

.analytics-block { margin-top: 20px; }

table.analytics-data { width: 100%; }

.analytics-aggregates .analytics-count { width: 300px; }
	.analytics-aggregates .analytics-count div { background-color: #cce; border-bottom: 1px solid #fff }

		.analytics-aggregates .analytics-count span { padding-left: 4px; visibility: hidden; }

	.analytics-aggregates .analytics-date { padding-right: 1em; }
		.analytics-aggregates .analytics-date .analytics-date-secondary { visibility: hidden; }

		.analytics-aggregates .analytics-aggregates-y-label { display: none; }

.analytics-aggregates { border: 1px solid #eee; padding: 20px; }
	/*.analytics-aggregates h4 { display: none; }*/

.analytics-aggregates-rotated { height: 430px; }
	.analytics-aggregates-rotated table { margin-top: 150px; margin-bottom: 150px; transform-origin: 0 0; transform: rotate(-90deg) translate(-250px, 0); }
		.analytics-aggregates-rotated table thead { display: none; }
		/*.analytics-aggregates-rotated table tr { line-height: 12px; }*/
		.analytics-aggregates-rotated table td { padding-top: 0; padding-bottom: 0; }
		.analytics-aggregates-rotated table td div { height: 12px; }

	.analytics-aggregates.analytics-aggregates-rotated .analytics-aggregates-y-label { display: block; float: left; font-size: small; }
		#analytics-aggregates-y-label-left { margin-left: -16px; }
		#analytics-aggregates-y-label-right { position: absolute; right: 48px; }

.analytics-locations li { }

.analytics-website { margin-bottom: 50px; }

#analytics-base-url { display: none; }

#analytics-refresh { cursor: pointer; float: right; font-size: 125%; font-weight: bold; margin-top: 1rem; margin-right: 1rem; padding: 1rem; transform: rotate(45deg); }
	#analytics-refresh:hover { color: #555; }
	.analytics-refresh-active, .analytics-refresh-active:hover { color: #007fff !important; }